{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}


{% form_theme form 'ad/_collection.html.twig' %}


{% block body %}

<div class="container">
    <h1>Modifier l'annonce: {{ad.title}}</h1>

    {{ form_start(form) }}


    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
    {{ form_end(form) }}

</div>


{% endblock %}


{% block javascripts %}

<script>//normalement dans le fichier ad.js mais cela ne se charge pas
    $('#add-image').click(function (){
        //je récupére le numéro des futurs champs que je vais créer
        //const index = $('#ad_images div.form-group').length;
        const index = +$('widgets-counter').val();

        //je récupére le prototype des entrées
        const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);


        //injection du code au sein de la div
        $('#ad_images').append(tmpl);


        $('#widgets-counter').val(index + 1);

        //je gere le button supprimer
        handleDeleteButtons();
    });

    function handleDeleteButtons(){

        $('button[data-action="delete"]').click(function(){

            const target = this.dataset.target;
            $(target).remove();
        });
    }

    function updateCounter(){
        const count = +$('#ad_images dv.form-group').length;
        //fonction pour ne pas avoir de bug dans l'ajout/supp de photo 
        $('#widgets-counter').val(count);
    }
    updateCounter();
    handleDeleteButtons();
</script>
{% endblock %}